.hero-chulapa-image {
  background-image: url('https://nodal-tools.fi/assets/img/banner.png') !important;
}
body {
  background-color: #e6e6e6ff;
}
.navbar {
  background-color: #423c39ff; !important;
}
footer {
  display: none !important;
  background-color: #423c39ff; !important;
}
@media (max-width: 768px) {
  .header-hero + div {
    margin-top: -500px !important;
  }
}