/* Fonts */
body {
  font-family: 'Inter', sans-serif;
  background-color: #e6e6e6ff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
}

.header-hero,
.hero-chulapa-image {
  background-image: url('https://nodal-tools.fi/assets/img/banner.png') !important;
  background-size: cover !important; /* or 'contain' to fit entire image */
  background-position: center !important;
  min-height: 400px !important;
  max-height: 400px !important;
  height: 400px !important;
}

body:has(.hero-chulapa-image) main.container-lg {
  margin-top: -250px !important;
}

/* Navbar */
.navbar {
  background-color: #423c39ff !important;
}
.navbar-nav .nav-link {
  text-transform: none !important;
}

/* Footer */
footer {
  display: none !important;
  background-color: #423c39ff !important;
}

/* Logo */
#maincontent img[src*="logo.svg"] {
  max-width: min(350px, 100%);
  width: auto;
  height: auto;
}

/* Link images */
.link-image {
  width: 700px !important;
  height: 200px !important;
  object-fit: cover !important;
  display: block !important;
  margin: 0 auto !important;
}

@media (max-height: 800px) {
  .link-image {
    height: 150px !important;
  }
}

@media (max-height: 600px) {
  .link-image {
    height: 100px !important;
  }
}