.header-hero::before,
.header-hero::after {
  opacity: 0 !important;
  background: none !important;
}

.header-hero {
  background-color: transparent !important;
}

.hero-chulapa-bg-color {
  opacity: 1 !important;
}
body {
  background-color: #e6e6e6ff;
}
.navbar {
  background-color: #423c39ff; !important;
}
footer {
  display: none !important;
  background-color: #423c39ff; !important;
}
@media (max-width: 768px) {
  .header-hero + div {
    margin-top: -150px !important;
  }
}